/* Gradient cho thanh header */
.md-header {
    background: linear-gradient(90deg, #ff7e5f, #feb47b) !important;
    background-color: unset !important; /* Xóa màu nền đơn */
}
.md-tabs {
    background: linear-gradient(90deg, #feb47b, #ff7e5f) !important;
}
